<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입맛저격! 뭐먹지?</title>

    <link href="assets/css/style.css" rel="stylesheet">
    <script src="assets/js/script.js"></script>
    <script src="https://kit.fontawesome.com/a6772218e8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a class="menu" href="menu.html"><i class="fa-solid fa-bars fa-xl" style="color: #ff5d2d;"></i></a>
        <img class="logo" src="assets/img/logo.png" alt="로고">
        <div class="timenow"></div>
        <p class="timemsg" name="timemsg"></p>
    </header>
    <container>
        <ul>
            <li>
                <p class="oneline">#키워드로 고르기</p>
                <p class="optitle">🍚 뭐먹지?</p>
            </li>
            <li>
                <p class="oneline">#랜덤! 복불복!</p>
                <p class="optitle">🎉 랜덤추천</p>
            </li>
            <li>
                <p class="oneline">#우리 뭐먹냐</p>
                <p class="optitle">😎 단체메뉴</p>
            </li>
            <li>
                <p class="oneline">#다이어트 화이팅!</p>
                <p class="optitle">🥗 다이어트 식단</p>
            </li>
        </ul>
    </container>
    <footer>
        ⓒ2025, 경인여대 소프트웨어융합학과 모짜조
    </footer>
</body>
</html>